body {
    font-family: 'Arial', sans-serif;
    
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image on the page */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    /* background-image: url("https://media.istockphoto.com/id/1884425904/photo/mri-or-magnetic-resonance-imaging-of-the-head-and-brain-close-up.webp?s=1024x1024&w=is&k=20&c=B4Zd3fkqtioKgHFuGwiTQ3UlzHpB2YCR6B5S2OOQ_Xc="); */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://w0.peakpx.com/wallpaper/934/600/HD-wallpaper-3d-human-x-ray-skeleton-neurons-brain.jpg");
}

.container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #3c8dbc;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: aqua;
}

input[type="file"] {
    margin-bottom: 20px;
    padding: 5px;
    width: 100%;
}

button {
    background-color: #3c8dbc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #357ca5;
}

.result {
    margin-top: 20px;
}

.result h2 {
    color: #28a745;
}

.result p {
    font-size: 18px;
    font-weight: bold;
}
